<ol>
    {{#each posts}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{title}}" target="_blank">{{title}}</a>
                <p>
                    {{post_content}}
                </p>
            </div>
            <div class="comments">
                {{user.username}} posted this at {{created_at}}
                |
                <a href="/posts/{{id}}">{{comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>